<div class="well well-sm">
  <p><small class="text-muted"><%= time_ago_in_words activity['activities'][0]['time'] %> ago</small></p>

  <p><strong><%= activity['activities'][0]['object'].name %></strong> and <strong><%= activity['activities'][0]['actor'].name %></strong> are now friends</p>
</div>
